<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>List User</title>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.css">

</head>
<body>
<section id="topbar" class="d-flex align-items-center">
    <!--    <div class="container d-flex justify-content-center justify-content-md-between">-->
    <!--        <div class="contact-info d-flex align-items-center">-->
    <!--            <i class="far fa-envelope"><a href="mailto:SafeCars@gmail.com"> SafeCars@gmail.com</a></i>-->
    <!--            <i class="fas fa-mobile-alt"> +84 369 12828</i>-->
    <!--        </div>-->
    <!--        <div class="social-links d-md-flex align-items-center">-->
    <!--            <div class="search">-->
    <!--                <i class="fa fa-search"></i>-->
    <!--                <form action="http://google.com/search" target="_blank">-->
    <!--                    <input name="q">-->
    <!--                </form>-->
    <!--            </div>-->
    <!--            <a href="#" class="twitter"><i class="fab fa-twitter"></i></a>-->
    <!--            <a href="#" class="facebook"><i class="fab fa-facebook"></i></a>-->
    <!--            <a href="#" class="instagram"><i class="fab fa-instagram"></i></a>-->
    <!--            <a href="#" class="tiktok"><i class="fab fa-tiktok"></i></a>-->
    <!--        </div>-->
    <!--    </div>-->
</section>
<nav>
    <table class="table" id="student">
        <thead>
        <tr>
            <th>Id</th>
            <th>Student Id</th>
            <th>Name</th>
            <th>Address</th>
            <th>Phone</th>
            <th>Email</th>
            <th>Class Id</th>
        </tr>
        </thead>
        <tbody>
        <!--                <tr th:each="student: ${list}">-->
        <!--                    <td th:text="${student.getId()}"></td>-->
        <!--                    <td th:text="${student.getStudentId() }"></td>-->
        <!--                    <td th:text="${student.getName()}"></td>-->
        <!--                    <td th:text="${student.getAddress()}"></td>-->
        <!--                    <td th:text="${student.getPhone()}"></td>-->
        <!--                    <td th:text="${student.getEmail()}"></td>-->
        <!--                    <td th:text="${student.getTblClassByClassId()}"></td>-->
        <!--                </tr>-->
        </tbody>
    </table>
</nav>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
        crossorigin="anonymous"></script>
<script type="text/javascript">
    $(document).ready( function () {
        $('#student').DataTable({
            "ajax": '../student/lsStudent',
            columns: [
                {data: "id"},
                {data: "studentId"},
                {data: "name"},
                {data: "address"},
                {data: "phone"},
                {data: "email"},
                {data: "tblClassByClassId.id"}
            ]
        });
    } );
</script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.js"></script>

</body>
</html>